In [1]:
_author_ = 'Harry Boer'
_project_ = 'Monte Carlo Simulation'

import pandas as pd
import numpy as np
import re

# De 'Width' van de output console, zodat DataFrames and Numpy arrays niet worden afgebroken
desired_width = 320
pd.set_option('display.width', desired_width)
def check_out_input_file():  # Get the shape of the dataframe
    mcframe = pd.read_excel('montecarlo-template.xlsx')
    row, coll = mcframe.shape
    return(row)
df = pd.read_excel("montecarlo-template.xlsx", skiprows=[0, 1, 2, 3, 4, check_out_input_file(),check_out_input_file()-1])
df.set_index(['Variables'], inplace=True)
rows, colls = df.shape
df = df.fillna(0)
df

                                                     Description     1    2    3    4    5    6  7  Unnamed: 9  Unnamed: 10  Unnamed: 11
Variables
Revenue growth rate                                          0.1     0    0    0    0    0    0  0           0            0            0
Cost increase growth rate                                   0.03     0    0    0    0    0    0  0           0            0            0
Sustainable growth rate                                     0.05     0    0    0    0    0    0  0           0            0            0
Exit yield                                                  0.07     0    0    0    0    0    0  0           0            0            0
Discount rate                                                0.1     0    0    0    0    0    0  0           0            0            0
Initial Investment                                         -3000 -3000    0    0    0    0    0  0           0            0            0
N                                                              7     0    0    0    0    0    0  0           0            0            0
Number of simulations                                        100     0    0    0    0    0    0  0           0            0            0
Sales                                                          0   100  150  250  350  350  400  0           0            0            0
Sales2                                           logn ( 20 , 4 )     0    0    0    0    0    0  0           0            0            0
Consulting                                          Sales * 0.35     0    0    0    0    0    0  0           0            0            0
Other                                                          0    10   20   20   20   20   20  0           0            0            0
Fixed costs                                                    0   -10  -20  -30  -40  -50  -67  0           0            0            0
Variable-costs             ( Sales + Consulting + Other ) * -0.1     0    0    0    0    0    0  0           0            0            0
Marketing                                                      0   -12  -12  -12  -20  -20  -20  0           0            0            0
Andere Kosten                              Variable-costs * 0.01     0    0    0    0    0    0  0           0            0            0
Other costs                                         Other * -0.2     0    0    0    0    0    0  0           0            0            0

**Note** that in Pandas [a:b] both a and b are included as is demonstrated here. When we use intigers and strings, use **ix**, and not **loc**. Soms werkt **iloc** ook; iloc is de vervanger van de depreciated **irow**.

In [ ]:
a = 10
b = 5
eval('a + b')

In [ ]:
c = 20
eval('a+b+c')

In [ ]:
pd.eval('(a + b + c) * 0.35')

In [ ]:
eval('84 if b > a else 0')

In [48]:
Efficacy = 100
Alternative = 50
eval('Efficacy**2/(Efficacy**2 + Alternative**2) if Efficacy > 84 else 0')

0.8

In [ ]:
pd.eval('Efficacy + Alternative')

In [49]:
safe_list = ['math','acos', 'asin', 'atan', 'atan2', 'ceil', 'cos', 'cosh', 
             'degrees', 'e', 'exp', 'fabs', 'floor', 'fmod', 'frexp', 'hypot', 'ldexp', 'log', 
            'log10', 'modf', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh']
#use the list to filter the local namespace
safe_dict = dict([ (k, locals().get(k, None)) for k in safe_list ])
safe_dict['Efficacy'] = Efficacy
safe_dict['Alternative'] = Alternative

In [50]:
eval('Efficacy**2/(Efficacy**2 + Alternative**2) if Efficacy > 84 else 0',{"__builtins__":None},safe_dict)

0.8

In [1]:
import aritmatic as ari

In [2]:
ari.arithmeticEval('2 ** 4')

16